@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? família=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Playfair+Display:wght@600&display=swap');

body, html{
    margin: 0px;
    background-color: white;
    min-height: 100vh;
    font-family: 'Playfair Display', serif, Arial, Helvetica;
    
}


header{
    font-family: 'Playfair Display', serif, Arial, Helvetica;
    font-weight: bold;
    margin: auto;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 2.4em;
}


a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: rgb(171, 171, 171);
}



section{
    padding: 10vh 0vh 10vh 0vh;
    margin: 10px 15px 10px 15px;
    font-size: 2.5vw;
}


section > p{
    text-align: justify;
    padding-right: 5px;
    /*background-color: #a9a9a97a;*/

    font-size: 25px;

}


section.normal{
    background-color: rgb(255, 255, 255);
}

section.normal > p{
    margin-left: 10px;
    margin-right: 10px;
}


section.imagem{
    background-color: lightgreen;
    background-attachment: fixed;
    background-size: cover;
}

section.imagem > p{
    display: inline-block;
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(211, 211, 211, 0.543);
}

#b1{
    background-image: url("img/girasolvarios.jpg");
    background-position: center center;
}
#b2{
    background-image: url("img/preedio.jpg");
    background-position: right bottom;
}
#b3{
    background-image: url("img/valdemorte.jpg");
    background-position: right center;
}


footer{
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.762);
    color: white;
    padding: 5px;
}




