@charset "UTF-8";


body, html{
    margin: 0px;
    background-color: white;
}


header{
    margin: auto;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 2.4em;
}


a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: rgb(171, 171, 171);
}



section{
    padding: 10vh 0vh 10vh 0vh;
    margin: 10px 15px 10px 15px;
}


section > p{
    text-align: justify;
    padding: 10px;
    /*background-color: #a9a9a97a;*/
    width: 500px;
    font-size: 1.6em;

}


section.normal{
    background-color: rgb(255, 255, 255);
}

section.normal > p{
    margin-left: 10px;
}


section.imagem{
    background-color: lightgreen;
    background-attachment: fixed;
}

section.imagem > p{
    margin-left: 10px;
    background-color: rgba(211, 211, 211, 0.543);
}

#b1{
    background-image: url("img/girasolvarios.jpg");
    background-position: center center;
}
#b2{
    background-image: url("img/preedio.jpg");
    background-position: right bottom;
}
#b3{
    background-image: url("img/valdemorte.jpg");
    background-position: right center;
}


footer{
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.762);
    color: white;
    padding: 5px;
}




