@charset "UTF-8";
/*
dimen:  1920x1280
        1920x1175
*/
*{
    margin: 0px;
    padding: 0px;
}
header{
    text-align: center;
    padding: 50px;
    background-color: #53413A;
    color: white;
}

main{
    margin: 10px
}

section{
    color: black;
    margin: 10px 0px 0px 10px;
}

section > p{
    width: 400px;
    padding-top: 10px;
    padding-bottom: 20px;
    
}

section.normal{
    color: white;
    padding: 10px;
    width: 400px;
    background-color: #AD725F;
    
}

section.imagem{
    padding: 10px;
    background-color: #6c6c6c;
    background-image: url("");
}


footer{
    margin-top: 15px;
    padding: 12px;
    background-color: #53413A;
    color: white;
    text-align: center;
}